fastapi[standard]
uvicorn[standard]
streamlit
langchain
langgraph
sqlalchemy
pandas
chromadb
requests
openai
httpx
python-dotenv
psycopg[binary]
langchain-text-splitters
sqlglot
boto3
pytest
redis
plotly
xlsxwriter
